---
layout: default
---

<div class="row ">
  <div class="col-lg-4 offset-md-1">
    <div class="card" id="profile-card">
      <h1 class="profile-name">{% if page.short_title %}{{ page.short_title }}{% else %}{{ page.title }}{% endif %}</h1>
      <a href="/">
        <img src="{{site.url}}{{site.baseurl}}/assets/img/{{ page.thumbnail }}" class="project-img" />
      </a>
      <p class="profile-bio">{{ page.summary }}</p>
      {% if page.github_url %} {%- include github_project_button.html url=page.github_url-%} {%
      endif %}
    </div>

    {% if page.related_links %}
    <div class="card">
        <h1>Related links</h1>
        {% for link_i in page.related_links %}
        {% if link_i.internal %}
        {% else %}
        <a href="{{link_i.link}}""><i class="fas fa-link"></i> {{link_i.title}} </a>
        {% endif %}
        {% endfor %}

    </div>
    {% endif %}
  </div>
  <div class="col-lg-7">

    <div class="card">
      <h1 class="card-title">{{page.title}}</h1>
      <p>{{ page.content }}</p>
    </div>

  </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-11">
        <!-- <div class="card"> -->
        <ul id="lightSlider">
            {% for picture in site.data.galleries[page.gallery].pictures %}
            <li class='lslide' data-thumb="{{ site.url }}{{ site.baseurl }}/assets/img/gallery/{{ page.gallery }}/{{ picture.thumbnail }}" data-src="{{ site.url }}{{ site.baseurl }}/assets/img/gallery/{{ page.gallery }}/{{ picture.original }}" >
                <img src="{{ site.url }}{{ site.baseurl }}/assets/img/gallery/{{ page.gallery }}/{{ picture.thumbnail }}"/>
            </li>
            {% endfor %}
        </ul>
        </div>
    <!-- </div> -->
</div>

<script type="text/javascript">
$(document).ready(function() {
    $("#lightSlider").lightSlider({
        item:5,
        loop:true,
        enableDrag: false,
        onSliderLoad: function(el) {
            el.lightGallery({
                selector: '#lightSlider .lslide'
            });
        },
        responsive: [
            {
                breakpoint:800,
                settings: {
                    item:3,
                    slideMove:1,
                  }
            },
            {
                breakpoint:640,
                settings: {
                    item:1,
                    slideMove:1
                  }
            }
        ]
    });
});
</script>
