---
layout: default
---

<div class="row ">
  <div class="col-lg-4 offset-md-1">
    <div class="card" id="profile-card">
      <h1 class="profile-name">{% if page.short_title %}{{ page.short_title }}{% else %}{{ page.title }}{% endif %}</h1>
      <a href="/">
        <img src="{{site.url}}{{site.baseurl}}/assets/img/{{ page.thumbnail }}" class="project-img" />
      </a>
      <p class="profile-bio">{{ page.summary }}</p>
      {% if page.github_url %} {%- include github_project_button.html -%} {%
      endif %}
    </div>

    {% if page.paper_links %}
    <div class="card">
        <h1>Related links</h1>
        {% for link_i in page.related_links %}
        <a href="{{link_i.link}}""><i class="fas fa-link"></i> {{link_i.title}} </a>
        {% endfor %}

    </div>
    {% endif %}
  </div>
  <div class="col-lg-7">

    <div class="card">
      <h1 class="card-title">{{page.title}}</h1>
      <p>{{ page.content }}</p>
    </div>

  </div>
</div>
